/* Add a message for browsers that don't support CSS Grid */
/* Use at least one media query & use flexbox at least once to pass fCC test suite*/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}

header {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding-top: 10px;
    border: 1px solid red;
    align-items: center;
}

header > *, header * {
  border: 1px red solid;
}

img {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 125%;
}

nav {
  grid-column-start: 4;
  grid-column-end: 6;
}

nav > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-link {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}